  /* BASE */

  * {
    text-decoration: none;
  }
  
    body::-webkit-scrollbar{
     display: none;
  }
    html, body {
      margin: 0;
      padding: 0;
      
    }
  
  
    /* header */
  
  header{
      z-index: 100;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100px;
      background-color: white;
      border-bottom: solid 1px rgba(0, 4, 54, 0.685);
      font-family: 'Poppins';
      user-select: none;
  }
  
  header .inner{
      width: 80%; 
      height: 100%;
      display: block;
      margin: 0 auto;
  }
  
  header .logo{
      display: table;
      height: 100%;
      float: left;
  }
  
  header .logo div{
      height: 100%;
      display: table-cell;
      vertical-align: middle;
  }
  
  header .logo img{
      height: 4vh;
      margin-top: 0.5vh; /* Optical alignment of the logo */
  }
  
  header nav{
      float: right;
      height: 100%;
  }
  
  header nav li{
      display: table;
      height: 100%;
      float: left;
      margin-right: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 2vh;
      left: 3vh;
      transition: all 0.5s ease; 
  }
  
  header nav li:last-of-type{
      margin-right: 0;
  }
  
  header nav span {
      display: table-cell;
      vertical-align: middle;
  }
  
  header nav a{
      color: #101010;
  }
  
  header nav .button{
      background-color: #0066ff;
      color: #FFF;
      padding: 10px 20px;
      border-radius: 4px;
  }
  
  header nav .button:hover{
      filter: brightness(1.05);
  }
  
  
  /* imagem HEADER */
  

  .hero-image {
    margin-top: 10vh;
    background-image: url("imagens/essencial/fundoindex-qui.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .hero-image h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    margin: 0;
    user-select: none;
  }

  .hero-image h2 {
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0; 
    transition: opacity 1s ease-in-out;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }
  
  /* LOGO */
  
  .logo h1 {
    color: rgb(28, 145, 240);
    height: 100%;
    font-size: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    vertical-align: middle;
    display: table-cell;
  }
  
  .logo h1 span{
    color: rgb(28, 102, 240);
    transition: all 0.2s ease; 
    font-weight: 800;
  }
  
  /* CORES */
  
  .biologia:hover{
    color: rgb(28, 201, 42);
    font-weight: bold;
    width: 3rem;
    font-size: 1.3rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.2s ease;
    text-shadow:  2px 2px 2px rgba(121, 121, 121, 0.26);
  }
  
  .fisica:hover{
    color: rgb(28, 60, 201);
    font-weight: bold;
    width: 3rem;
    font-size: 1.3rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.2s ease;
    text-shadow:  2px 2px 2px rgba(121, 121, 121, 0.26);
  }
  
  .quimica:hover{
    color: rgb(201, 146, 28);
    font-weight: bold;
    width: 3rem;
    font-size: 1.3rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.2s ease;
    text-shadow:  2px 2px 2px rgba(121, 121, 121, 0.26);
  }
  
    /*    ENSSENCIAL    */
  
      /* SIDEBAR */
  
  .sidebar {
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      height: 250vh;
      width: 5vh;
      background-color: rgba(0, 0, 0, 0);
      padding: 0.4rem 0.8rem;
      transition: all 0.5s ease; 
      border: 2vh solid rgba(0, 0, 0, 0);
    
    }
    
    .sidebar.active {
      width: 23vh;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 8px; 
      backdrop-filter: blur(10px);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0));
      pointer-events: auto; /* Ativar ponteiro em todo o sidebar quando aberto */
      border: 0.2vh solid black
    }
    
    .sidebar #btn {
      position: absolute;
      color: rgb(0, 0, 0);
      top: 0.55rem;
      left: 50%;
      font-size: 1.2rem;
      line-height: 50px;
      transform: translateX(-50%);
      cursor: pointer; 
      transition: all 0.5s ease;
    }
    
    
    .sidebar #btn:hover {
      position: absolute;
      width: 3rem;
      font-size: 1.3rem;
      line-height: 50px;
      transform: translateX(-50%);
      cursor: pointer;
      transition: all 0.5s ease;
      box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.5);
    }
    
    .sidebar.active #btn {
      left: 22vh;
    }
    
    .sidebar .top .logo {
      display: flex;
      height: 5vh;
      margin-left: 10px;
      align-items: center;
      pointer-events: none;
      width: 30vh;
      bottom: 5vh;
      font-size: 1.2rem;
      transition: opacity 0.5s ease;
    }
    /* RESIZE */
  
    .page-title {
      padding: 2vh;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
      font-size: 1.5em;
      font: 600;
      background-color: rgba(255, 198, 74, 0.555);
      border: 0.2vh solid rgba(255, 125, 50, 0.568);
      text-shadow: 2px 2px 2px rgb(0, 0, 0);
      user-select: none;
    }
    
  
  
  
  
  
  
  
  
  
  
  
    /* RESIZE */
  
    .sidebar .active .top .logo {
      color: rgb(255, 0, 0);
      transition: opacity 0.5s ease;
    }
    
    .top .logo span {  
      opacity: 0;  
      transition: opacity 0.5s ease; 
    }
    
    .sidebar.active .top .logo span { 
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  
    .sidebar .top .logo i {
      display: none;
      transition: opacity 0.5s ease;
    }
    
    .sidebar.active .top .logo i {
      display: inline-block; /* Mostrar quando aberto */
      transition: opacity 0.5s ease;
    }
    .sidebar ul {
      opacity: 0;
      transition: opacity 0.5s ease;
    }
    
    .sidebar.active ul {
      opacity: 1;
    }
    
    .sidebar ul li {
      pointer-events: none;
      position: relative;
      list-style-type: none;
      height: 90%;
      right: 4vh;
      margin: 0.8rem auto;
      line-height: 50px;
    }
    
    .sidebar ul li a {
      color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      text-decoration: none;
      border-radius: 0.8rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .sidebar.active ul li a:hover {
      background-color: rgba(0, 136, 255, 0.308);
      color: black;
    }
  
    .sidebar.active ul li a {
      pointer-events: all;
    }
    
    .sidebar ul li a i {
      min-width: 50px;
      text-align: center;
      height: 50px;
      border-radius: 12px;
      line-height: 50px;
    }
    
    .sidebar .nav-item {
      display: none;
    }
    
    .sidebar.active .nav-item {
      display: inline-block;
    }
  
    
  
  
  
  
  
  
  
  
  
  
    
    .container {
      max-width: 60%;
      margin: 0 auto;
      text-align: center;
      
    }
    
    h1 {
      margin-bottom: 2rem; 
    }
    
    .grid {
      margin-top: 15vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    }
    
    /*                FIM   CONFIG ESSEN                    */
    
    /* quimica block */
    
    .news-report_quimica {
      background-color: rgba(255, 255, 255, 0.623); 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
      border-radius: 10px; 
      border: solid 1.5px black;
      padding: 20px;
      overflow: hidden;
      border-radius: 30px;
      transition: transform 0.4s ease-in-out;
      text-decoration: none;
    }
    
    .inner_news-report_quimica {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
      border-radius: 10px; 
      padding: 20px;
      overflow: hidden;
      border-radius: 30px;
      transition: transform 0.4s ease-in-out;
      user-select: none;
      text-decoration: none;
    }
    
    .news-report_quimica a {
      text-decoration: none;
      color: inherit;
    }

    
    .news-report_quimica:hover {
      background-color: #ffe884;
      padding: 20px;
      border-radius: 30px;
      transform: scale(1.1);
    }
    
    
    /* biologia block */
    
    .news-report_biologia {
      background-color: rgba(255, 255, 255, 0.623); 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
      border-radius: 10px; 
      border: solid 1.5px black;
      padding: 20px;
      overflow: hidden;
      border-radius: 30px;
      transition: transform 0.4s ease-in-out;
    }
  
    .news-report_quimica a {
      text-decoration: none;
      color: inherit;
    }
    
    .inner_news-report_biologia {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
      border-radius: 10px; 
      padding: 20px;
      overflow: hidden;
      border-radius: 30px;
      transition: transform 0.4s ease-in-out;
      user-select: none;
    }
    
    .news-report_biologia:hover {
      background-color: #70fc82cb;
      transform: scale(1.1);
    }
    
    /* fisica block */
    
    .news-report_fisica {
      border: solid 1.5px black;
      transition: transform 0.3s ease-in-out;
      background-color: rgba(255, 255, 255, 0.623); 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
      border-radius: 10px; 
      padding: 20px;
      overflow: hidden;
      border-radius: 30px;
      transition: transform 0.4s ease-in-out;
    }
    
    .inner_news-report_fisica {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
      border-radius: 10px; 
      padding: 20px;
      overflow: hidden;
      border-radius: 30px;
      transition: transform 0.4s ease-in-out;
      user-select: none;
    }
    
    .news-report_fisica:hover {
      transform: scale(1.1); 
       background-color: #637affda;
    }
    
    /*                FIM   BLOCOS                    */
    
    /* IMAGENS REPORTS */
    
    
    .news-report_quimica img {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 30px;
    }
    
    .news-report_fisica img {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 30px;
    }
    
    .news-report_biologia img {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 30px;
    }
    
    
    /* CONFIG REPORT */
    
    .news-report h3 {
      font-size: 1.2rem; 
      margin-bottom: 5px;
    }
    
    .news-report p {
      line-height: 1.5;
    }
    
    /*                FIM   REPORT                    */
  
  
    /*                FOOTER                    */
  
    footer {
      margin-top: 10vh;
      background-color: #f2f2f2; 
      color: #333; 
      padding: 40px 0;
      text-align: center; 
    }
    
    .footer-container {
      display: flex; 
      justify-content: space-between; 
      align-items: center; /* Vertically align elements */
      flex-wrap: wrap; /* Wrap content to multiple lines if needed */
      max-width: 1000px; /* Limit container width */
      margin: 0 auto; /* Center the container horizontally */
    }
    
    .footer-brand {
      flex: 1; /* Take up available space */
    }
    
    .footer-brand h1 {
      font-size: 1.8rem; /* Adjust heading size */
      margin-bottom: 10px;
      margin-left: -40vh;
    }
    
    .footer-nav {
      flex: 1; /* Take up available space */
      margin: 0 20px; /* Add horizontal spacing */
    }
    
    .footer-nav ul {
      list-style: none; /* Remove default list style */
      padding: 0;
      margin: 0;
    }
    
    .footer-nav li {
      display: inline-block; /* Display list items inline */
      margin: 0 10px; /* Add spacing between list items */
    }
    
    .footer-nav a {
      color: inherit; /* Inherit text color from footer */
      text-decoration: none; /* Remove underline */
      font-weight: bold; /* Make links bold */
    }
    
    .footer-social {
      flex: 1; /* Take up available space */
      text-align: right; /* Align content to the right */
    }
    
    .footer-social a {
      color: inherit; /* Inherit text color from footer */
      text-decoration: none; /* Remove underline */
    }
    
    .footer-social ul {
      list-style: none; /* Remove default list style */
      padding: 0;
      margin: 0;
    }
    
    .footer-social li {
      display: inline-block; /* Display list items inline */
      margin: 0 5px; /* Add spacing between list items */
    }
    
    .footer-social i {
      margin-top: 2vh;
      font-size: 1.5rem; /* Font size for social media icons */
    }
    
    .footer-social i:hover {
      color: #4e95ff;
    }
    